body{
  padding:20px;
}
section {
  margin-top:30px;
}
h1{
  font-size:26px;
}
h2 {
  font-size:20px;
}
ul {
  list-style:none;
  padding-left:20px;
}
li {
  display:flex;
  flex-direction:row;
  line-height:30px;
}
.check {
  margin-right:10px;
}
.btn_ok {
  margin-left:20px;
}
